
/*--------------------------------------------------------------------------supper small---------------------------------------------------------------*/
@media (max-width:300px) {
  /*=======================head===============*/
  .milion p{
    display: none;
  }

    /*=======================head===============*/
}
/*--------------------------------------------------------------------------supper small---------------------------------------------------------------*/




/*------*************************************************************************---sm-----**************************************************************************-----*/
@media (max-width: 575px) {
/*======================perhead===============*/
.prehead_text h6{
  display: none;
  float: none;
}
.prehead_text ul{
padding-left:30vw;

float: none;
  }
.prehead_text ul li a{

}
  /*=======================perhead===============*/
  /*=======================head===============*/

.poster{
  height: auto;
}

.Secure{
  font-size: 30px;
}
.milion{
  display: flex;
  align-items: center;
  padding: 10px;
}
.milion p{
  font-size: 10px;

}

  /*=======================head===============*/


}


/*------*************************************************************************---sm-----**************************************************************************-----*/


/*-----999999999999999999999999999999999999999999999999999999999999999---------md-----9999999999999999999999999999999999999999999999999999------*/
@media (max-width: 765px) {
  .poster{

  }
}


/*-----999999999999999999999999999999999999999999999999999999999999999---------md-----9999999999999999999999999999999999999999999999999999------*/

/*----------]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]---lg------]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]------*/
@media (max-width: 991px) {

}


/*----------]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]---lg------]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]------*/



/*-----kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk-----------xl------kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk---------*/
@media (max-width: 1199px) {

}
/*-----kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk-----------xl------kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk---------*/
